<?xml version="1.0"?>
<!--

-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <signifyd>
            <general>
                <enabled>0</enabled>
                <!--The device fingerprint enable configuration must be kept only at the default and database with no UI-->
                <!--option to change it at the admin (MAG1-55)-->
                <enable_device_fingerprint>1</enable_device_fingerprint>

                <restrict_states_default>pending_payment,payment_review,canceled,closed,complete</restrict_states_default>
                <restrict_states_create>holded,pending_payment,payment_review,canceled,closed,complete</restrict_states_create>
                <restrict_payment_methods>checkmo,cashondelivery,banktransfer,purchaseorder</restrict_payment_methods>
                <async_payment_methods>cybersource</async_payment_methods>
            </general>
            <advanced>
                <guarantee_negative_action>nothing</guarantee_negative_action>
                <guarantee_positive_action>nothing</guarantee_positive_action>
            </advanced>
            <logs>
                <log>1</log>
            </logs>

            <payment>
                <authorizenet_directpost>
                    <signifyd_cvv_ems_adapter>Signifyd\Connect\Model\Payment\Authorizenet\CvvEmsCodeMapper</signifyd_cvv_ems_adapter>
                    <signifyd_last4_adapter>Signifyd\Connect\Model\Payment\Authorizenet\Last4Mapper</signifyd_last4_adapter>
                    <signifyd_exp_month_adapter>Signifyd\Connect\Model\Payment\Authorizenet\ExpMonthMapper</signifyd_exp_month_adapter>
                    <signifyd_exp_year_adapter>Signifyd\Connect\Model\Payment\Authorizenet\ExpYearMapper</signifyd_exp_year_adapter>
                    <signifyd_transaction_id_adapter>Signifyd\Connect\Model\Payment\Authorizenet\TransactionIdMapper</signifyd_transaction_id_adapter>
                </authorizenet_directpost>

                <braintree>
                    <signifyd_avs_ems_adapter>Signifyd\Connect\Model\Payment\Braintree\AvsEmsCodeMapper</signifyd_avs_ems_adapter>
                    <signifyd_cvv_ems_adapter>Signifyd\Connect\Model\Payment\Braintree\CvvEmsCodeMapper</signifyd_cvv_ems_adapter>
                </braintree>

                <payflowpro>
                    <signifyd_avs_ems_adapter>Signifyd\Connect\Model\Payment\Payflow\Pro\AvsEmsCodeMapper</signifyd_avs_ems_adapter>
                    <signifyd_cvv_ems_adapter>Signifyd\Connect\Model\Payment\Payflow\Pro\CvvEmsCodeMapper</signifyd_cvv_ems_adapter>
                </payflowpro>

                <payflow_link>
                    <signifyd_avs_ems_adapter>Signifyd\Connect\Model\Payment\Payflow\Link\AvsEmsCodeMapper</signifyd_avs_ems_adapter>
                    <signifyd_cvv_ems_adapter>Signifyd\Connect\Model\Payment\Payflow\Link\CvvEmsCodeMapper</signifyd_cvv_ems_adapter>
                    <signifyd_last4_adapter>Signifyd\Connect\Model\Payment\Payflow\Link\Last4Mapper</signifyd_last4_adapter>
                    <signifyd_exp_month_adapter>Signifyd\Connect\Model\Payment\Payflow\Link\ExpMonthMapper</signifyd_exp_month_adapter>
                    <signifyd_exp_year_adapter>Signifyd\Connect\Model\Payment\Payflow\Link\ExpYearMapper</signifyd_exp_year_adapter>
                </payflow_link>

                <payflow_advanced>
                    <signifyd_avs_ems_adapter>Signifyd\Connect\Model\Payment\Payflow\Link\AvsEmsCodeMapper</signifyd_avs_ems_adapter>
                    <signifyd_cvv_ems_adapter>Signifyd\Connect\Model\Payment\Payflow\Link\CvvEmsCodeMapper</signifyd_cvv_ems_adapter>
                    <signifyd_last4_adapter>Signifyd\Connect\Model\Payment\Payflow\Link\Last4Mapper</signifyd_last4_adapter>
                    <signifyd_exp_month_adapter>Signifyd\Connect\Model\Payment\Payflow\Link\ExpMonthMapper</signifyd_exp_month_adapter>
                    <signifyd_exp_year_adapter>Signifyd\Connect\Model\Payment\Payflow\Link\ExpYearMapper</signifyd_exp_year_adapter>
                </payflow_advanced>

                <stripe_payments>
                    <signifyd_avs_ems_adapter>Signifyd\Connect\Model\Payment\Stripe\Payments\AvsEmsCodeMapper</signifyd_avs_ems_adapter>
                    <signifyd_cvv_ems_adapter>Signifyd\Connect\Model\Payment\Stripe\Payments\CvvEmsCodeMapper</signifyd_cvv_ems_adapter>
                    <signifyd_last4_adapter>Signifyd\Connect\Model\Payment\Stripe\Payments\Last4Mapper</signifyd_last4_adapter>
                    <signifyd_exp_month_adapter>Signifyd\Connect\Model\Payment\Stripe\Payments\ExpMonthMapper</signifyd_exp_month_adapter>
                    <signifyd_exp_year_adapter>Signifyd\Connect\Model\Payment\Stripe\Payments\ExpYearMapper</signifyd_exp_year_adapter>
                </stripe_payments>
            </payment>
        </signifyd>
    </default>
</config>
