<?xml version="1.0"?>
<!--

-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <signifyd>
            <general>
                <enabled>1</enabled>
                <key> </key>
            </general>
            <advanced>
                <retrieve_score>1</retrieve_score>
                <hold_orders>0</hold_orders>
                <hold_orders_threshold>500</hold_orders_threshold>
                <guarantee_negative_action>nothing</guarantee_negative_action>
                <guarantee_positive_action>nothing</guarantee_positive_action>
            </advanced>
            <logs>
                <log_errors>1</log_errors>
                <log_request>1</log_request>
                <log_responses>1</log_responses>
            </logs>
        </signifyd>
    </default>
</config>
