<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Loggers -->
    <type name="Signifyd\Connect\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
            <argument name="fileName" xsi:type="string">var/log/signifyd_connect.log</argument>
        </arguments>
    </type>
    <virtualType name="debuggerHandler" type="Signifyd\Connect\Logger\Handler">
        <arguments>
            <argument name="fileName" xsi:type="string">var/log/signifyd_connect_debug.log</argument>
        </arguments>
    </virtualType>
    <virtualType name="testHandler" type="Signifyd\Connect\Logger\Handler">
        <arguments>
            <argument name="fileName" xsi:type="string">var/log/signifyd_connect_test.log</argument>
        </arguments>
    </virtualType>
    <virtualType name="installHandler" type="Signifyd\Connect\Logger\Handler">
        <arguments>
            <argument name="fileName" xsi:type="string">var/log/signifyd_connect_install.log</argument>
        </arguments>
    </virtualType>

    <type name="Signifyd\Connect\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">SignifydLogger</argument>
            <argument name="handlers"  xsi:type="array">
                <item name="system" xsi:type="object">Signifyd\Connect\Logger\Handler</item>
            </argument>
            <argument name="processors" xsi:type="array"></argument>
        </arguments>
    </type>
    <type name="Signifyd\Connect\Logger\Debugger">
        <arguments>
            <argument name="name" xsi:type="string">SignifydDebugger</argument>
            <argument name="handlers"  xsi:type="array">
                <item name="system" xsi:type="object">debuggerHandler</item>
            </argument>
            <argument name="processors" xsi:type="array"></argument>
        </arguments>
    </type>
    <type name="Signifyd\Connect\Logger\Test">
        <arguments>
            <argument name="name" xsi:type="string">SignifydTest</argument>
            <argument name="handlers"  xsi:type="array">
                <item name="system" xsi:type="object">testHandler</item>
            </argument>
            <argument name="processors" xsi:type="array"></argument>
        </arguments>
    </type>
    <type name="Signifyd\Connect\Logger\Install">
        <arguments>
            <argument name="name" xsi:type="string">SignifydInstall</argument>
            <argument name="handlers"  xsi:type="array">
                <item name="system" xsi:type="object">installHandler</item>
            </argument>
            <argument name="processors" xsi:type="array"></argument>
        </arguments>
    </type>

    <!-- Payment data factory -->
    <type name="Signifyd\Connect\Model\PaymentVerificationFactory">
        <arguments>
            <argument name="config" xsi:type="object">Magento\Payment\Gateway\Config\Config</argument>
            <argument name="avsDefaultAdapter" xsi:type="object">Signifyd\Connect\Model\Payment\Base\AvsEmsCodeMapper</argument>
            <argument name="cvvDefaultAdapter" xsi:type="object">Signifyd\Connect\Model\Payment\Base\CvvEmsCodeMapper</argument>
            <argument name="cardholderDefaultAdapter" xsi:type="object">Signifyd\Connect\Model\Payment\Base\CardholderMapper</argument>
            <argument name="last4DefaultAdapter" xsi:type="object">Signifyd\Connect\Model\Payment\Base\Last4Mapper</argument>
            <argument name="expMonthDefaultAdapter" xsi:type="object">Signifyd\Connect\Model\Payment\Base\ExpMonthMapper</argument>
            <argument name="expYearDefaultAdapter" xsi:type="object">Signifyd\Connect\Model\Payment\Base\ExpYearMapper</argument>
            <argument name="binDefaultAdapter" xsi:type="object">Signifyd\Connect\Model\Payment\Base\BinMapper</argument>
            <argument name="transactionIdDefaultAdapter" xsi:type="object">Signifyd\Connect\Model\Payment\Base\TransactionIdMapper</argument>
            <argument name="asyncCheckDefaultAdapter" xsi:type="object">Signifyd\Connect\Model\Payment\Base\AsyncChecker</argument>
        </arguments>
    </type>

    <!-- Payment Mapping factory -->
    <type name="Signifyd\Connect\Model\MappingVerificationFactory">
        <arguments>
            <argument name="config" xsi:type="object">Magento\Payment\Gateway\Config\Config</argument>
            <argument name="paymentMethodDefaultAdapter" xsi:type="object">Signifyd\Connect\Model\Payment\Base\PaymentMethodMapper</argument>
        </arguments>
    </type>

    <!-- Plugins -->
    <type name="Magento\Paypal\Model\Payflowlink">
        <plugin name="Signifyd_Connect_Magento_Paypal_Model_Payflowlink" type="\Signifyd\Connect\Plugin\Magento\Paypal\Model\Payflowlink" />
    </type>

    <type name="Magento\Authorizenet\Model\TransactionService">
        <plugin name="Signifyd_Connect_Magento_Authorizenet_Model_TransactionService" type="\Signifyd\Connect\Plugin\Magento\Authorizenet\Model\TransactionService" />
    </type>

    <type name="Magento\GiftCard\Model\AccountGenerator">
        <plugin name="Signifyd_Connect_Plugin_Magento_GiftCard_Model_AccountGenerator" type="\Signifyd\Connect\Plugin\Magento\GiftCard\Model\AccountGenerator" />
    </type>

    <type name="Magento\Sales\Model\ResourceModel\Order\Grid\Collection">
        <plugin name="Signifyd_Connect_Plugin_Magento_Sales_Model_ResourceModel_Order_Grid" type="\Signifyd\Connect\Plugin\Magento\Sales\Model\ResourceModel\Order\Grid\Collection" />
    </type>

    <type name="Magento\Reports\Model\ResourceModel\Quote\Collection">
        <plugin name="Signifyd_Connect_Plugin_Magento_Reports_Model_ResourceModel_Quote_Collection" type="\Signifyd\Connect\Plugin\Magento\Reports\Model\ResourceModel\Quote\Collection" />
    </type>

    <type name="Adyen\Payment\Gateway\Request\CheckoutDataBuilder">
        <plugin name="Signifyd_Connect_Plugin_Adyen_Payment_Gateway_Request_CheckoutDataBuilderSca" type="\Signifyd\Connect\Plugin\Adyen\Payment\Gateway\Request\CheckoutDataBuilderSca" />
    </type>

    <type name="Adyen\Payment\Controller\Process\Json">
        <plugin name="Signifyd_Connect_Plugin_Adyen_Payment_Controller_Process_Json" type="\Signifyd\Connect\Plugin\Adyen\Payment\Controller\Process\Json" />
    </type>

    <type name="Openpay\Cards\Model\Payment">
        <plugin name="Signifyd_Connect_Plugin_Openpay_Cards_Model_Payment" type="\Signifyd\Connect\Plugin\Openpay\Cards\Model\Payment" />
    </type>

    <type name="Holacash\Payment\Model\PaymentMethod">
        <plugin name="Signifyd_Connect_Plugin_Holacash_Model_Payment" type="\Signifyd\Connect\Plugin\Holacash\Model\Payment" />
    </type>

    <type name="Adyen\Payment\Gateway\Http\Client\TransactionPayment">
        <plugin name="Signifyd_Connect_Plugin_Adyen_Payment_Gateway_Http_Client_TransactionPayment" type="\Signifyd\Connect\Plugin\Adyen\Payment\Gateway\Http\Client\TransactionPayment" />
    </type>

    <type name="Adyen\Payment\Helper\PaymentResponseHandler">
        <plugin name="Signifyd_Connect_Plugin_Adyen_Payment_Helper_PaymentResponseHandler" type="\Signifyd\Connect\Plugin\Adyen\Payment\Helper\PaymentResponseHandler" />
    </type>

    <type name="Magento\Sales\Api\OrderRepositoryInterface">
        <plugin name="Signifyd_Connect_Plugin_Magento_Sales_Api_OrderRepositoryInterface" type="\Signifyd\Connect\Plugin\Magento\Sales\Api\OrderRepositoryInterface" />
    </type>

    <type name="StripeIntegration\Payments\Helper\Generic">
        <plugin name="Signifyd_Connect_Plugin_StripeIntegration_Payments_Helper_Generic" type="\Signifyd\Connect\Plugin\StripeIntegration\Payments\Helper\Generic" />
    </type>

    <type name="StripeIntegration\Payments\Helper\Order">
        <plugin name="Signifyd_Connect_Plugin_StripeIntegration_Payments_Helper_Order" type="\Signifyd\Connect\Plugin\StripeIntegration\Payments\Helper\Order" />
    </type>

    <type name="StripeIntegration\Payments\Model\Stripe\Event\ChargeSucceeded">
        <plugin name="Signifyd_Connect_Plugin_StripeIntegration_Payments_ChargeSucceeded" type="\Signifyd\Connect\Plugin\StripeIntegration\Payments\Model\Stripe\Event\ChargeSucceeded" />
    </type>

    <type name="Adyen\Payment\Helper\Webhook">
        <plugin name="Signifyd_Connect_Plugin_Adyen_Payment_Helper_Webhook" type="\Signifyd\Connect\Plugin\Adyen\Payment\Helper\Webhook" />
    </type>

    <type name="MercadoPago\Core\Model\Core">
        <plugin name="Signifyd_Connect_Plugin_MercadoPago_Model_Core" type="\Signifyd\Connect\Plugin\MercadoPago\Model\Core" />
    </type>

    <type name="CyberSource\SecureAcceptance\Gateway\Http\Client\SOAPClient">
        <plugin name="Signifyd_Connect_Plugin_CyberSource_Gateway_Http_Client_SOAPClient" type="\Signifyd\Connect\Plugin\CyberSource\Gateway\Http\Client\SOAPClient" />
    </type>

    <type name="Signifyd\Connect\Logger\Logger">
        <plugin name="Signifyd_Connect_Plugin_Logger_Logger" type="\Signifyd\Connect\Plugin\Logger\Logger" />
    </type>

    <type name="CyberSource\SecureAcceptance\Gateway\Helper\SubjectReader">
        <plugin name="Signifyd_Connect_Plugin_CyberSource_Command_HandleResponseCommand" type="\Signifyd\Connect\Plugin\CyberSource\Gateway\Command\HandleResponseCommand" />
    </type>

    <type name="Magento\PaymentServicesPaypal\Gateway\Http\ServiceClient">
        <plugin name="Signifyd_Connect_Plugin_Magento_PaymentServicesPaypal_Gateway_Http_ServiceClient" type="\Signifyd\Connect\Plugin\Magento\PaymentServicesPaypal\Gateway\Http\ServiceClient" />
    </type>

    <type name="Rootways\Authorizecim\Gateway\Validator\ResponseValidator">
        <plugin name="signifyd_response_validator_plugin" type="Signifyd\Connect\Plugin\Rootways\Authorizecim\Gateway\Validator\ResponseValidatorPlugin" sortOrder="10"/>
    </type>

    <type name="Adyen\Payment\Controller\Webhook\Index">
        <plugin name="Signifyd_Connect_Plugin_Adyen_Payment_Controller_Webhook_Index" type="\Signifyd\Connect\Plugin\Adyen\Payment\Controller\Webhook\Index" />
    </type>

    <!-- Around order placement for StripeIntegration -->
    <type name="Magento\Sales\Model\Service\OrderService">
        <plugin name="signifydConnectOrderService"
                type="Signifyd\Connect\Plugin\Magento\Sales\Model\Service\OrderService"
                sortOrder="5"
                disabled="false"/>
    </type>

    <type name="Sezzle\Sezzlepay\Controller\Payment\Complete">
        <plugin name="Signifyd_Connect_Plugin_Sezzlepay_Payment_Complete" type="Signifyd\Connect\Plugin\Sezzle\Sezzlepay\Controller\Payment\Complete"/>
    </type>

    <!-- Preferences -->
    <preference for="Magento\Reports\Block\Adminhtml\Shopcart\Abandoned\Grid" type="Signifyd\Connect\Block\Adminhtml\Shopcart\Abandoned\Grid" />
    <preference for="Magento\Sales\Model\Order\Payment" type="Signifyd\Connect\Model\Magento\Sales\Model\Order\Payment" />
    <preference for="Signifyd\Connect\Api\RerouteRepositoryInterface" type="Signifyd\Connect\Model\RerouteRepository"/>
    <preference for="Signifyd\Connect\Api\Data\RerouteInterface" type="Signifyd\Connect\Model\Reroute"/>
    <preference for="Signifyd\Connect\Api\Data\RerouteSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
    <preference for="Signifyd\Connect\Api\LogsRepositoryInterface" type="Signifyd\Connect\Model\LogsRepository"/>
    <preference for="Signifyd\Connect\Api\Data\LogsInterface" type="Signifyd\Connect\Model\Logs"/>
    <preference for="Signifyd\Connect\Api\Data\LogsSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
</config>
