<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Magento\Sales\Model\ResourceModel\Order\Grid" type="Magento\Sales\Model\ResourceModel\Grid">
        <arguments>
            <argument name="columns" xsi:type="array">
                <item name="signifyd_guarantee" xsi:type="string">sales_order.signifyd_guarantee</item>
                <item name="signifyd_code" xsi:type="string">sales_order.signifyd_code</item>
                <item name="signifyd_score" xsi:type="string">sales_order.signifyd_score</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Signifyd\Connect\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="Signifyd\Connect\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">SignifydLogger</argument>
            <argument name="handlers"  xsi:type="array">
                <item name="system" xsi:type="object">Signifyd\Connect\Logger\Handler</item>
            </argument>
        </arguments>
    </type>

    <type name="Signifyd\Connect\Model\PaymentVerificationFactory">
        <arguments>
            <argument name="config" xsi:type="object">Magento\Payment\Gateway\Config\Config</argument>
            <argument name="avsDefaultAdapter" xsi:type="object">Signifyd\Connect\Model\Payment\Base\AvsEmsCodeMapper</argument>
            <argument name="cvvDefaultAdapter" xsi:type="object">Signifyd\Connect\Model\Payment\Base\CvvEmsCodeMapper</argument>
            <argument name="cardholderDefaultAdapter" xsi:type="object">Signifyd\Connect\Model\Payment\Base\CardholderMapper</argument>
            <argument name="last4DefaultAdapter" xsi:type="object">Signifyd\Connect\Model\Payment\Base\Last4Mapper</argument>
            <argument name="expMonthDefaultAdapter" xsi:type="object">Signifyd\Connect\Model\Payment\Base\ExpMonthMapper</argument>
            <argument name="expYearDefaultAdapter" xsi:type="object">Signifyd\Connect\Model\Payment\Base\ExpYearMapper</argument>
            <argument name="binDefaultAdapter" xsi:type="object">Signifyd\Connect\Model\Payment\Base\BinMapper</argument>
        </arguments>
    </type>

    <type name="Magento\Paypal\Model\Payflowlink">
        <plugin name="Signifyd_Connect_Magento_Paypal_Model_Payflowlink" type="\Signifyd\Connect\Plugin\Magento\Paypal\Model\Payflowlink" />
    </type>

    <type name="Magento\Authorizenet\Model\TransactionService">
        <plugin name="Signifyd_Connect_Magento_Authorizenet_Model_TransactionService" type="\Signifyd\Connect\Plugin\Magento\Authorizenet\Model\TransactionService" />
    </type>
</config>
