<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd" >
    <system>
        <include path="Signifyd_Connect::system/fraud_protection.xml"/>
        <include path="Signifyd_Connect::system/signifyd.xml"/>
    </system>
</config>
